{% extends '::base.html.twig' %}

{% block body %}

    {{ form_start(search_form) }}
        <div class="input-group input-group-lg">
            {{ form_widget(search_form.search, { attr: { class: 'form-control' } }) }}
            <span class="input-group-btn">
                {{ form_widget(search_form.submit, { attr: { class: 'btn btn-primary' } }) }}
            </span>
        </div>
    {{ form_end(search_form) }}

    <hr/>

    <div class="row">
        <div class="col-xs-8">
            <div class="jumbotron">
                <h1>Here is cheap</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet commodi culpa debitis et eum explicabo facilis harum libero, magnam nesciunt obcaecati odit recusandae sint sit suscipit voluptate voluptates voluptatibus?</p>
            </div>
        </div>
        <div class="col-xs-4">
            <header class="page-header">
                <h3 class="panel-title">Sign up</h3>
            </header>

            {{ form_start(signup_form) }}
                <div class="form-group">
                    {{ form_widget(signup_form.username) }}
                </div>
                <div class="form-group">
                    {{ form_widget(signup_form.email) }}
                </div>
                <div class="form-group">
                    {{ form_widget(signup_form.password) }}
                </div>
            {{ form_end(signup_form) }}

        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <header class="page-header">
                <h4>1. Lorem Ipsum</h4>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam, corporis doloremque dolores esse eveniet fuga, hic iure laboriosam magni, maiores nemo perspiciatis quisquam rem sed sequi soluta vel voluptas?</p>
        </div>
        <div class="col-xs-4">
            <header class="page-header">
                <h4>2. Lorem Ipsum</h4>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam, corporis doloremque dolores esse eveniet fuga, hic iure laboriosam magni, maiores nemo perspiciatis quisquam rem sed sequi soluta vel voluptas?</p>
        </div>
        <div class="col-xs-4">
            <header class="page-header">
                <h4>3. Lorem Ipsum</h4>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam, corporis doloremque dolores esse eveniet fuga, hic iure laboriosam magni, maiores nemo perspiciatis quisquam rem sed sequi soluta vel voluptas?</p>
        </div>
    </div>

{% endblock %}